.another-title{
      font-weight: 500;
      font-size: 60px;
      color:#673E22;

}


@media only screen and (max-width: 600px) {
  .another-title{
      font-weight: 500;
      font-size: 20px;
      color:#673E22;

      }
}